<div class="container">
  <div class="col-md-6 mx-auto">
    <img src="/images/readbooks.jpg" align="middle" alt="" class="about">
  </div>
  <h1>Why Read Books</h1>
  <p class="lead">Even if you have read one good book in your life, you will know what reading gives. It gives you
    incomparable pleasure.
    While there is no doubt about the fact that reading is a priceless activity, it has been observed that the habit of
    reading has declined of late. One of the main causes for this decline is the growth of technology. However, what
    most
    people don’t know is there is so much to benefit from reading. Here are 10 reasons of reading books:</p>
  <p class="lead">Version 1.0.0.0</p>

  <div class="row my-5">
    <div class="col-md-4 ">
      <h4 class="text-center text-info ">1</h4>
      <h4 class="text-center text-info">Gives knowledge</h4>
    </div>
    <div class="col-md-8">
      <p>
        One of the biggest reasons why we read books is to gain knowledge. Books are a rich source of information.
        Reading
        books
        on varied subjects imparts information and increases the depth about the subject as well. Whenever you read a
        book, you
        learn a new information that otherwise would not have known.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">2</h4>
      <h4 class="text-center text-info">Improves Brain</h4>
    </div>
    <div class="col-md-8">
      <p>
        Studies have shown that reading has strong positive effects on the brain. By staying mentally stimulated, you
        can
        prevent dementia and Alzheimer’s disease. This is because, keeping your brain active prevents it from losing
        power. The
        brain is a muscle and like other muscles in the body, exercise keeps it strong and healthy. Similar to solving
        puzzles,
        reading books is a great way to exercise your brain and keep it healthy.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">3</h4>
      <h4 class="text-center text-info">Reduce Stress</h4>
    </div>
    <div class="col-md-8">
      <p>
        Reading has a positive effect on the body as well. Reading a book can relieve stress better than taking a walk
        or
        listening to music. According to studies who read more tend to have lower stress levels.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">4</h4>
      <h4 class="text-center text-info">Improve Memory</h4>
    </div>
    <div class="col-md-8">
      <p>
        Every time you read a book, you have to remember the setting of the book, the characters, their backgrounds,
        their
        history, their personalities, the sub-plots and so much more. As your brain learns to remember all this, your
        memory
        becomes better. What’s more, with every new memory you create, you create new pathways and this strengthens the
        existing
        ones.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">5</h4>
      <h4 class="text-center text-info">Improve Imagination</h4>
    </div>
    <div class="col-md-8">
      <p>
        The more you read, the more imaginative you become. Whenever you read a fiction book, it takes you another
        world. In the
        new world, your imagination works at its best as you try to see things in your own mind.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">6</h4>
      <h4 class="text-center text-info">Develops critical thinking skills</h4>
    </div>
    <div class="col-md-8">
      <p>
        One of the primary benefits of reading books is its ability to develop critical thinking skills. For example,
        reading a
        mystery novel sharpens your mind. Critical thinking skills are crucial when it comes to making important day to
        day
        decisions. Reading requires an individual to think and process information in a way that watching television
        can’t. The
        more you read, the deeper your understanding becomes about what you’re reading and its application.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">7</h4>
      <h4 class="text-center text-info">Build Vocabulary</h4>
    </div>
    <div class="col-md-8">
      <p>
        Reading improves your vocabulary and command on the language. As you read, you come across new words, idioms,
        new words,
        phrases and writing styles.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">8</h4>
      <h4 class="text-center text-info">Improve writing skills</h4>
    </div>
    <div class="col-md-8">
      <p>
        Reading a well-written book affects your ability to become a better writer. Just like artists influence others,
        so do
        writers. Many successful authors gained their expertise by reading the works of others. So, if you want to
        become a
        better writer, start by learning from previous masters.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">9</h4>
      <h4 class="text-center text-info">Improve communication skills</h4>
    </div>
    <div class="col-md-8">
      <p>
        Improving your vocabulary and writing skills goes hand in hand with developing your communication skills. The
        more you
        read and write, the better you communicate. Increasing your ability to communicate, improves your relationships
        and even
        makes you a better employee or student.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h4 class="text-center text-info ">10</h4>
      <h4 class="text-center text-info">Improves focus and concentration</h4>
    </div>
    <div class="col-md-8">
      <p>
        In our busy lifestyles, our attention is drawn in different directions each day as we try to multi-task through
        each
        day. For example, you may find yourself dividing your time between working on a task, chatting with people via
        Skype,
        checking email, keeping an eye on Facebook and interacting with your colleagues. All this multi-tasking can lead
        to high
        stress level and low productivity. When you read a book, all your attention is focused on what you’re reading.
        Your eyes
        and thoughts are immersed in the details of the story. This improves your concentration and focus. Read a book
        at least
        20 minutes a day, and you will be amazed at how much more focused you will be.</p>
    </div>
  </div>

</div>